*{
    box-sizing: border-box;
    border: 0;
}
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
  }
*{
    font-family: Montserrat;  
}
.custom-navbar{
    height: 91px !important;
} 
.nav-menu .navbar-nav{
    column-gap: 21px;
    margin-left: 120px;
}
.nav-menu .navbar-nav:first-child .nav-link{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.nav-menu .navbar-nav:last-child .nav-link{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
    color: #23A6F0;
}
.home-button{
    width: 214pxpx;
    height: 52px;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    gap: 15px;
    background-color: #23A6F0 !important;
    color: white !important;
}
.box{
    width: 150px;
    height: 300px;
}
.button3{
    padding: 15px 36px;
    background-color:transparent;
    border: 1px solid blue;
    border-radius: 37px;
}
.logo{
    display: flex;
    gap: 30px;
}
.container1{
    font-family:"Montserrat";
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.container2{
    margin-top: 100px;
}
.boxes{
    height: 403px;
}
.button1{
    background-color:transparent;
    border: 1px solid blue;
    border-radius: 20px;
}
.container3{
    display: flex;
    justify-content: end;
    column-gap: 50px;
}
.button{
    width: 186px;
    height: 52px;
}
.email1{
    width: 230px;
    height: 50px;
    background-color: rgb(240, 234, 234);
    padding: 20px;
}
.button2{
    width: 100px;
    height: 50px;
}