*{
    box-sizing: border-box;
    border: 0;
}
.logo{
    display: flex;
    gap: 30px;
}
.box{
    width: 150px;
    height: 300px;
}
.container2{
    margin-top: 100px;
}
.black-box{
    height: 300px;
    align-items: center;
    padding-top: 20px;
}
.button1{
    background-color:transparent;
    border: 1px solid blue;
    border-radius: 20px;
}
.container3{
    display: flex;
    justify-content: end;
    column-gap: 50px;
}
.email1{
    width: 230px;
    height: 50px;
    background-color: rgb(240, 234, 234);
    padding: 20px;
}
.button2{
    width: 100px;
    height: 50px;
}